---
permalink: /
title: "About Me"
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---
My name is Tianyou Wang,a Master student majoring in Robotics at the University of Pennsylvania. I am involve in GRASP Laboratory, where I focus on advancing robotics and intelligent systems. My research spans various innovative projects, including robotic manipulation, policy generalization, and applied robotics for real-world tasks. Recently, I contributed to the development of the ZeroMimic system, where I worked on processing 3D human trajectory data and building evaluation methods to distill manipulation skills for robots, achieving a 67.9% success rate in real-world trials.

**Research Experience**
======

Research 1
------
Distilling Robotic Manipulation Skills from Web Videos

Research 2
------
Novel Environment Generalization of Action-Chunking Transformer Visuomotor Policy

Research 3
------
Trajectory Planning and Closed-loop Control for a Subway Seat Cleaning Robot Manipulator

**Projects**
======

Project 1
------
Intelligent Logistic Robot Car Project

Project 2
------
Train Speed Trajectory Optimization

Project 3
------
Fault Diagnosis of Permanent Magnet Motor Based on DCGAN-RCCNN

**Publication**
======
1.Zhuolun Zhao*, Junyao Shi*, Tianyou Wang, Jason Ma, Dinesh Jayaraman, ZeroMimic: Distilling Robotic Manipulation Skills from Web Videos, 2025 IEEE International Conference on Robotics & Automation (ICRA 2025). Submitted. [*First authorship shared.]

2.Chuyao Zhang*, Tianyou Wang*, Yifan Feng, Train Speed Optimization Based on Lagrangian Relaxation Algorithm, 2022 International Conference on SmartRail, Traffic and Transportation Engineering (ICSTTE 2023) (Conference). [*First authorship shared. Order on publication randomized.]

------
For More Info
------
More info about me on linkedin
